*{
    padding: 0;
    margin: 0;
}
.container{
    height: 80vh;
    width: 110vh;
    background: black;
}
.para{
    color: rgb(243, 230, 230);
    font-weight: 300;
    font-size: 20px;
    padding: 40px 30px;
}
#list{
    font-size: 15px;
    color: rgb(243, 230, 230);
    padding: 8px;
    margin-left: 30px;
    border: 1px solid rgb(243, 230, 230);
    background: black;

}
#item{
    color: white;
    padding: 40px 30px;
    line-height: 2rem;
    word-spacing: 0.5rem;
}
#btn{
    background: white;
    font-size: 15px;
    padding: 10px 35px;
    margin-left: 30px;
    cursor: pointer;

}